$headerHeight : 80px;
$viewHeight : calc(100vh - 80px);

.section {
    position: relative;
    width : 1200px;
    margin : 0 auto;
    min-height : $viewHeight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .description { color : gray; }
    &.first {
        h1 {
            font-size : 32px;
            color : #1f1f1f;
        }
        h5 {
            max-width : 1200px;
            text-align: center;
            line-height: 1.2;
        }
        img {
            position: relative;
            margin-top : 60px;
            width : 80%;
        }
        .description {
            font-size : 20px;
        }
    }
    &.second {
        width : 100%;
        .wrapper {
            position: relative;
            width : 100%;
            
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom : 50px;
            .text {
                min-width : 600px;
                h2 {
                    font-weight : 600;
                    font-size : 28px;
                    margin-bottom : 30px;
                    color : #1f1f1f;
                }
                .description {
                    max-width : 800px;
                    font-size : 20px;
                }
            }
            img {
                width : 400px;
                height : 400px;
                margin : 0 50px;
            }
        }
    }
}