$headerHeight : 80px;
$viewHeight : calc(100vh - 80px);
$menusize : 50px;

body {
    width : 100%;
    height : 100vh;
    color : #1f1f1f;
    background: #fdfdfd;
}
header {
    position : relative;
    height : $headerHeight;

    .container {
        width : 100%;
        height : $headerHeight;
        padding : 30px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border : 0.5px solid rgb(187, 187, 187);

        h2 {
            font-size: 24px;
            font-weight : 900;
            letter-spacing: 3px;
            cursor: pointer;
            span { font-weight : 100; }
        }

        ul {
            display: flex;
            li {
                margin-right : 40px;
                cursor: pointer;
                &:hover {
                    color : darkgray;
                }
            }
        }
    }
}

nav {
    position: relative;
    width : $menusize;
    height : 100%;
    color : #535151;
    background: rgb(255, 255, 255) !important;
    border: 0.5px solid rgba(128, 128, 128, 0.5) !important;
    
    & > div {
        position: relative;

        width : $menusize;
        height: $menusize;

        display: flex;
        justify-content: center;
        align-items: center;

        border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
        cursor: pointer;
        transition : 0.2s;
        z-index: 1000;

        &:hover {
            background: rgb(193, 192, 191);
            color : white;
        }
        

        &.active {
            background: orange;
            color : white;
            font-weight: 600;
        }

        & + .tag {
            position : absolute;
            left : $menusize + 10px;
            width : 150px;
            height : $menusize - 10px;
            
            display: flex;
            justify-content: center;
            align-items: center;

            border : 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 20px;

            color : #1f1f1f;
            background: rgb(249, 249, 249);

            transform: translateX(-100px) translateY(-44px);
            transition : 0.2s;
            
            opacity: 0;
            font-size : 14px;
            z-index: 999;
        }
        &:hover + .tag {
            opacity: 1;
            color : black;
            transform: translateX(0px) translateY(-44px);
            font-weight: 400;
            cursor: default;
        }
    }
}

section {
    position: relative;
    width : 100%;
    height : $viewHeight;
    display: flex;

    .main-layout {
        width: 100%;
        height : 100%;
        padding : 50px;
        overflow-y: scroll;

        h1 {
            font-size : 24px;
            font-weight : 600;
            letter-spacing: 1px;
            margin-bottom : 20px;
            text-transform: uppercase;
        }
        .description {
            color : gray;
            font-size : 14px;
        }
        .container {
            width : 100%;
            min-height : 100%;

            &.not-found {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size : 30px;
                font-weight: 600;
                color : #1f1f1f;
                img {
                    width : 120px;
                    height : 80px;
                    margin-right : 20px;
                }
            }
        }
    }
}